@import url("base.css");

header{
    background-color: var(--primaria);
    width: 100%;
}

.inicio{
    background-image: linear-gradient(rgba(200, 125, 76, 0.5), rgba(200, 125, 76, 0.5)), url('../Imagens/Serviços/InicioServiços.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}

.text-inicio{
    background-color: var(--branco);
    width: 380px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 10%;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.text-inicio h1{
    color: var(--primaria);
    font-size: 40px;
}

.text-inicio p{
    color: var(--primaria);
    font-size: 20px;
}

/* Serviços - Sucessão */
.services{
    padding: 40px 20px;
}

.sucessao{
    text-align: center;
    color: var(--branco);
    font-size: 30px;
}

.areas{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

.areas-item{
    background-color: var(--branco);
    color: var(--primaria);
    border-radius: 10px;
    width: 350px;
    height: 400px;
    padding: 15px;
    box-shadow: var(--shadow);
    margin-top: 40px;
}

.areas-item img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.areas-item h1{
    font-size: 28px;
    height: 40px;
    text-align: start;
    margin-bottom: 10px;
    color: var(--secundaria);
}

.areas-item p{
    font-size: 20px;
    text-align: start;
    color: var(--secundaria);
}

.button{
    display: flex;
    justify-content: start;
    align-items: end;
    margin-top: 40px;
    width: 100%;
}

.button a{
    width: 100%;
}

.button button{
    padding: 10px 20px;
    width: 100%;
    background-color: var(--secundaria);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

/* Planejamento Patrimonial e Sucessório */
.pps{
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    color: var(--branco);
}

.pps h1{
    font-size: 40px;
}

.pps p{
    font-size: 26px;
}

.button-pps{
    display: flex;
    justify-content: start;
    align-items: end;
    margin-top: 40px;
}

.button-pps button{
    padding: 10px 100px;
    width: 100%;
    font-size: 20px;
    background-color: var(--secundaria);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
}